 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin:0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  display: flex;
  
width: fit-content;
}  */

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

#movieHead {
  display: flex;
  align-items: flex-start;

}

#app {

  text-align: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 1rem;
}

/* #Forms {
  display: flex;
  flex-direction: column;
} */



#domestic-gross-sales {
  margin-left: 0.5rem;
  width: 7rem;
  height: 1rem;
}

#audience-score  {
  margin-left: 0.5rem;
  width: 2rem;
  height: 1rem;
}

#critic-score {
  margin-left: 0.5rem;
  width: 2rem;
  height: 1rem;

}

/* #movie-title {
  margin-left: 0.5rem;
  width: 6rem;
  height: 1rem;
} */
/* 
p {
  display: flex;
  margin: 0.7rem;
  justify-content: space-between;
}  */

/* section > h2 {
  display: flex;
  margin-left: 0.7rem;
} */

form {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 20rem;
  align-items: flex-start;
  background-color: rgb(40, 40, 40);
}



canvas {
  width: 55rem;
  height: 55rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.container > h1 {
  align-self: flex-start;
}

#charts {
  display: flex;
  flex-direction: column;
  align-content: center;

}


#donutChart, #barChart {
  width: 40rem;
}

/* #FormDefaultMovie {
  display: flex;
  justify-content: space-between;

} */



/* label {
  display: flex;
  margin: 0.2rem;
  
} */

#movieandform {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin:0.7rem;
}

#removeMovie {
  justify-content: center;
  width: 15rem;
  height: 8rem;
}

#homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  background-color: black;
  margin: 0px;
}

#donutContainer > h1{
  display: flex;
  justify-content: center;
} 

#donuts {
  margin: 0px;
  background-color: black;
}
body {
  margin: 0
}